<!DOCTYPE html>
<html>
  <head>
    <title>CalendarApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <h1 class="navbar-brand mb-0">Routine Calendarr</h1>

    <form class="d-flex justify-content-end">
      <% if user_signed_in? %>
        <%= link_to current_user.nickname, user_path(current_user), class:"mypage btn btn-light mr-2"%>
        <%= link_to "ログアウト", destroy_user_session_path, class:"btn btn-light", method: :delete %>
      <% else %>
        <%= link_to "ログイン", new_user_session_path, class: "btn btn-light mr-2"  %>
        <%= link_to "新規登録", new_user_registration_path, class: "btn btn-light" %>
      <% end %>
    </form>
    </div>
  </nav>

    <%= yield %>

  <nav class="navbar fixed-bottom navbar-light bg-light">
    <div class="container-fluid">
      <span class="navbar-brand">2021 Plan Calendar</span>
    </div>
  </nav>
  </body>
</html>
